# Core dependencies
datasets==2.19.0
llama-index==0.10.30
llama-index-embeddings-fireworks==0.1.2
llama-index-embeddings-openai==0.1.8
llama-index-readers-web==0.1.10
llama-index-readers-github
llama-index-vector-stores-mongodb==0.1.4
pandas==2.2.2
pymongo==4.6.3
python-dotenv==1.0.1
fastapi==0.110.3

# Development dependencies
jupyter==1.0.0
streamlit==1.33.0